body {
    margin: 0;
    box-sizing: border-box;
    background-color: #5d7bcb;
    font-family: Roboto, sans-serif;
}

.formSubmit {
    background-color: #ffffff;
    width: 30rem;
    margin: 5rem auto 5rem auto;
    border-radius: 20px;
    padding: 2rem;
}

.formBlock {
    display: block;
}

.formField {
    width: 50%;
    height: 1.8rem;
    border-radius: 10px;
    font-size: 1.3rem;
}

.formButtons {
    display: flex;
    justify-content: space-between;
}

.formButton {
    height: 3rem;
    width: 10rem;
    margin: 0.5rem;
    font-size: 1.3rem;
    background-color: #a0bdff;
    border: none;
    border-radius: 10px;
}

.formButton:hover {
    background-color: #83a5ff;
}

.formTextarea {
    height: 7rem;
    width: 30rem;
    border-radius: 10px;
    font-size: 1.3rem;
}

.formTitle {
    color: #2a3863;
    font-size: 1.2rem;
}